.footer {
      border-top: 2px solid #ccc;
      padding: 5px;
      color: white;
      background-color: brown;
      box-sizing: border-box; 
      text-align: center; 
      position: fixed;
      bottom: 0; 
      width: 100%; 
      padding-right: 250px;
    }
    