.global-navigation-bar {
    background-color: #d3f8f8;
    padding: 25px;
    border-bottom: 1px solid #ddd;
    padding-top: 100px;
  }
  
  .global-navigation-bar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .global-navigation-bar li a {
    display: flex;  
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
  }
  
  .global-navigation-bar li a:hover {
    background-color: #eeeeee;
    color: rgb(239, 65, 65);
  }

  .nav-title {
    margin-left: 10px;
}

.global-navigation-bar .active {
  background-color: #faf6c9;
  color: rgb(227, 50, 50);
}
