.home-container {
  max-width: 700px;
  margin: 10px auto;
  border: 1px solid #444242;
  border-radius: 8px;
  padding: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  border: 2px solid #323232; 
  border-radius: 4px;
  padding: 10px; 
}

.form input,
.form textarea {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form button {
  padding: 10px;
  width: 200px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form button:hover {
  background-color: #218838;
}

.item-list {
  list-style-type: none;
  padding: 0;
}

.item {
  background-color: #efeeee;
  padding: 10px;
  border: 1px solid #323232;
  border-radius: 4px;
  margin-bottom: 10px;
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
}

.icon{
  cursor: pointer;
  border: 2px solid #323232;
  border-radius: 4px; 
  background-color: white; 
  padding-inline: 5px;
}

.add-icon{
  padding-right: 30px;
}

.popup-icon{
  cursor: pointer;
}

.icon-group {
  display: flex;
  gap: 15px;
  align-items: center;
  padding-left: 30px;
}

.popup {
  position: fixed;
  top: 50%;
  left: 58%;
  transform: translate(-50%, -50%);
  background-color: rgb(248, 244, 213);
  padding: 40px; 
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 100;
  width: 600px; 
}

.title-header {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
}

.spinner{
  padding-left: 350px;
}
